<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form *ngIf="!isLoading" (submit)="onLogin(loginForm)" #loginForm="ngForm">
    <mat-form-field>
      <input
      matInput
      type="email"
      name="email"
      ngModel
      #emailInput="ngModel"
      required
      email
      placeholder="E-Mail">
      <mat-error *ngIf="emailInput.invalid">Please enter an email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input
      matInput
      type="password"
      name="password"
      ngModel
      #passwordInput="ngModel"
      required
      placeholder="Password">
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">Login</button>
  </form>
</mat-card>
