<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
      matInput
      type="text"
      name="title"
      required
      ngModel
      placeholder="Post Title"
      #title="ngModel">
      <mat-error *ngIf="title.invalid">Please enter a title.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
      matInput
      rows="4"
      name="content"
      required
      ngModel
      placeholder="Post Content"
      #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid">Please enter some content.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit">Save Post</button>
  </form>
</mat-card>
